.wrapper-content {
  padding: 20px 15px 15px;
}

.km_content:not(:last-child) {
  margin-bottom: 15px;
}

.title {
  font-family: "Microsoft Yahei";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.wrapper .form_list .btn-sign {
  margin-left: 10px;
}

.table-box-know {
    .table tr td{
        height: 90px;
        overflow: hidden;
        font-family: "Microsoft Yahei";
    }
    .table tr td {
        border-top: 0px!important;
        border-bottom: 1px solid #eee;
        padding: 0;
        vertical-align: middle;
    }
    .head {
        margin-bottom: 10px;
        font-size: 14px;
        color: #006ecd;
    }
    p {
        margin: 2px 10px;
        font-size: 12px;
        color: #808080;
    }
    .data {
        margin-bottom: 10px;
        font-size: 13px;
    }
    .btn-smar {
        font-size: 12px;
        padding: 1px 6px;
        border-radius: 2px;
    }
    .sum_type {
        margin-top: 20px;
    }
    img {
        border-radius: 3px;
    }
    .name {
        text-align: center;
    }
}
