.form_box {
  font-family: 'Microsoft Yahei';
}

label {
  font-weight: normal;
}

.sign_left_small {
  display: inline-block;
  width: 102px;
  margin-right: 20px;
  color: #333;
  text-align: right;
}

.add_group {
  margin-left: 172px;
  margin-bottom: 7px;
}

.input_type {
  display: inline-block;
  padding: 6px 12px;
  color: inherit;
  font-size: 14px;
  font-family: 'Microsoft Yahei';
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.organize_icon {
  font-size: 18px;
  color: #52cdec;
}

.float_icon {
  position: absolute;
  top: 4px;
  right: 6px;
}

.chosen_space {
  margin-right: 15px;
  border-radius: 2px;
}

.btn-grey {
  background: #eee;
  color: #1c84c6;
}

.font12 {
  font-size: 12px;
}

.space_box {
  margin-bottom: 15px;
}

.chosen-container-single .chosen-single {
  background: #fff;
  box-shadow: none;
  -moz-box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e5e6e7;
  border-radius: 2px;
  cursor: text;
  height: auto;
  margin: 0;
  min-height: 30px;
  overflow: hidden;
  padding: 4px 12px;
  position: relative;
  width: 100%;
}

.form_box {
  padding: 15px 0px 0px;
}

.form_content {
  position: relative;
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
}

.big_pad {
  width: 130px;
}

.mr5 {
  margin-right: 5px;
}

.grey {
  font-style: normal;
  color: #808080;
}

.blue_border {
  background-color: #fff;
  border: 1px solid #1a7bb9;
  font-size: 14px;
  color: #333;
}

.blue_border:hover {
  background-color: #1a7bb9;
  border: 1px solid #1a7bb9;
  font-size: 14px;
  color: #fff;
}

.sign_left {
  float: left;
  width: 152px;
  margin-right: 20px;
  color: #333;
}

.sign_left_one {
  float: left;
  width: 132px;
  margin-right: 15px;
}

.sign_left_two {
  float: left;
  width: 115px;
  margin-right: 15px;
}

.sign_right {
  float: left;
}

.sign_right input, .sign_right span, .sign_right select, .sign_left select {
  border-radius: 2px;
}

.intextval {
  width: 422px;
}

.teamcode {
  width: 230px;
}

.add_btn, .more_btn {
  margin-left: 172px;
}

.add_btn1, .more_btn1 {
  margin-left: 149px;
}

.goods_type {
  width: 745px;
}

.under {
  text-decoration: underline;
}

.btn_more {
  background-color: #fff;
  border: 1px solid #f9ad4b;
  font-size: 14px;
  color: #333;
}

.case_organize {
  width: 300px;
}

.input-group .date_sign {
  font-size: 13px;
  width: 159px;
  border-radius: 2px;
}

.add_sign {
  float: left;
  width: 152px;
  margin-right: 15px;
  color: #333;
}

.sign_radius {
  border-radius: 2px !important;
}

.btn_more, .btn_more:visited, .btn_more:active, .btn_more:focus {
  background-color: #fff;
  border: 1px solid #1a7bb9;
  font-size: 14px;
  color: #333;
}

.btn_more:hover {
  background-color: #1a7bb9;
  border: 1px solid #1a7bb9;
  font-size: 14px;
  color: #fff;
}

.goods_type .btn {
  margin-bottom: 5px;
}

.blue-text {
  color: #337ab7;
}

.blue-text:hover {
  color: #337ab7;
}

.btn_grey {
  background: #eee;
}

.mr15 {
  margin-right: 15px;
}

.navy_bg {
  background-color: #53bdbd;
}

.navy {
  color: #53bdbd;
}

.pink {
  color: #f784a5;
}

.pink_bg {
  background-color: #f784a5;
}
