.w179 {
  width: 179px;
}
.btn-pink-mend {
  padding: 1px 5px;
  color: #fff;
  background-color: #f784a5;
  border-radius: 2px;
}
.gery-text {
  color: #808080;
}
.mend-title {
  font-size:14px;
  font-weight:700;
  line-height: 24px;
}