.form_list {
  margin: 20px 0px 0px;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  overflow: hidden;
}

.form_list .form_content {
  position: relative;
  float: left;
  margin: 0px 5px 15px 0px;
}

.float_icon {
  position: absolute;
  top: 4px;
  right: 6px;
}
.btn-save {
    background:#f784a5;
    color:#fff;
}
.btn-save:hover {
    background:#f784a5;
    color:#f3f3f3;
}
.btn-grey {
  background:#eee;
  color:#1c84c6;
}
.loan_type {
    display: inline-block;
    margin-top: 4px;
}
.organize_icon {
  font-size: 18px;
  color: #52cdec;
}
.form-control, .single-line {
    border-radius: 2px;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.form_list label {
  font-family: "Microsoft Yahei";
  font-size: 14px;
  font-weight: normal;
}

.form_list .sign {
  margin-top: 0px;
  padding-bottom: 4px;
}

.form_list .input_type {
  display: inline-block;
  padding: 6px 12px;
  color: inherit;
  font-size: 14px;
  font-family: 'Microsoft Yahei';
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 0px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form_list .input_type:focus {
  border-color: #1ab394 !important;
  outline: none;
}

.form_list .sign_left_small {
  display: inline-block;
  width: 102px;
  margin-right: 20px;
  color: #333;
  text-align: right;
}

.form_list .sign_left {
  display: inline-block;
  width: 152px;
  margin-right: 20px;
  color: #333;
  text-align: right;
}

.form_list .sign_left_two {
  display: inline-block;
  width: 100px;
  margin-right: 20px;
  color: #333;
  text-align: right;
}

.form_list .sign_right {
  width: 290px;
}

.form_list .sign_right_two {
  width: 170px;
}

.form_list .checkbox label {
  margin-right: 7px;
}

.form_list .space {
  margin-left: 5px;
}
.form_list .space_two {
  margin-left: 176px;
}
.form_list .label-info:hover {
  color: #f8f8f8;
}

input {
  border-radius: 2px !important;
}

.line {
  overflow: hidden;
}

.teamcode {
  width: 230px;
}
.form_content .controls {
  display: inline-block;
  margin-left: 20px;
  .radio {
    margin-right: 30px;
  }
}
.sign_right_speciale {
  display: inline;
  margin-left: 5px;
  float: right;
}

.sign_right_date {
  display: inline;
  float: right;
  margin-left: 20px;
}

.input-daterange input {
  text-align: left;
}

.select_control {
  display: inline-block;
  height: 34px;
  padding: 6px 12px;
  font-size: 13px;
  color: #999;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.sign_right_one {
  width: 165px;
}

.form_nomargin {
  margin-right: 0 !important;
}

.select_control:focus {
  border-color: #1ab394 !important;
  outline: none;
}

.margin_tagl10 {
  margin-left: 10px;
}

.margin_tagl15 {
  margin-left: 15px;
}

.input-group .data_style {
  width: 134px;
}

.input-group-addon {
  float: left;
  display: inline-block;
  width: 32px !important;
  margin-left: -5px;
  margin-right: -5px;
  padding: 6px 5px !important;
  line-height: 1.428571429;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  background-color: #eee;
  border-width: 1px 0;
}

.input-daterange input:first-child {
  border-radius: 0px;
}

.input-daterange input:last-child {
  border-radius: 0px;
}

.datepicker.dropdown-menu {
  z-index: 9999 !important;
}

.mend_select {
  float: left;
  padding-top: 5px;
}

.dataleft {
  padding-left: 4px;
}

.add_btn .btn {
  margin-right: 5px;
}

.submit_btn {
  margin-left: 125px;
  margin-top: 3px;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* input-line */
/* input-one: 150px; input-two: 190px; input-three: 230px; */
.form-row {
  font-family: "Microsoft Yahei";
  .form-space-one {
  margin-right: 20px;
  }
}
.form-rowbot {
  margin-bottom: 15px;
}

.form-margin {
  label {
    margin-right: 20px;
    text-align: right;
    font-size: 14px;
    font-weight: normal;
    color: #333;
  }
  .lable-one {
    width: 70px;
  }
  .input-one {
    width: 150px;
  }
  .input-widest {
    width: 447px;
  }
  .select-one {
    width: 105px;
  }
}
.toright {
  margin-right: 36px;
}
.form-btn {
    margin-top: 30px;
    margin-bottom: 10px;
    overflow: hidden;
  .btn-left-space {
    margin-left: 94px;
  }
}
.form-inline .input-group .date-width {
  width: 130px;
}
.form-inline {
    .btn-left {
    float: left;
    }
    .btn-right {
    float: right;
    }
    .btn-right a {
    color: #fff;
    }
    .btn-default {
    color:#428fcc;
    background-color:#e4e4e4;
    border-color: #e4e4e4;
    }
}
.date_icon {
    position: absolute;
    top: 7px;
    right: 10px;
}

.info_content .line {
    overflow: hidden;
    p{
        float: left;
        margin: 7px 28px 7px 0px;
        font-size: 14px;
    }
    label {
        float:left;
        width: 100px;
        margin-right: 20px;
        font-weight: normal;
        color: #808080;
        text-align:right;
    }
    .info {
        float:left;
        display: inline-block;
        width: 185px;
        color:#333;
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
    }
    .info_one {
        float:left;
        display: inline-block;
        width: 120px;
        color:#333;
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
    }
}
.btn-space {
    margin: 0px 10px;
}
.big {
    font-size: 14px;
}
.marspace {
    margin: 4px 0;
}
.btn-pink {
    background: #f784a5;
    color: #fff;
}
.btn-pink:hover{
    background: #f47599;
    color: #fff;
}
.add_space {
    line-height: 34px;
    margin-left: 20px;
}
.mar24 {
    margin-right: 24px!important;
}
.mt15 {
    margin-top: 15px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1c84c6;
}
.mr15 {
  margin-right: 15px;
}
.btn-new {
  padding:7px 12px;
  font-family: "Microsoft Yahei";
}
.btn-padding {
  padding:7px 12px;
}