#sum {
  font-size: 16px;
  color: #f8ac59;
}

.table-input {
  display: inline-block;
  width: 100%;
  height: 30px;
  border: none;
  padding: 4px 5px;
}

.table-input-one {
  width: 100px;
  border: none;
  padding: 4px 5px;
  margin-right: 10px;
}

.btn-height a {
  display: inline-block;
  padding: 5px 2px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.btn-height .grey {
  color: #808080;
}

.btn-right {
  margin-right: 7px;
}

.table-select {
  display: inline-block;
  width: 100%;
  height: 30px;
  border: none;
  padding: 4px 5px;
}

.dl-horizontal dt {
  font-weight: normal;
  color: #808080;
}

.agree-tile {
  margin-bottom: 5px;
  font-family: "Microsoft Yahei";
  font-weight: 700;
}

.btn-default {
  color: #428fcc;
  background-color: #e4e4e4;
  border-color: #e4e4e4;
}

.table-capital {
  margin-top: 20px;
  padding: 0px 30px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: middle;
}

ul.real-estate {
  margin-top: 20px;
  list-style: none;
}
ul.real-estate li {
  margin-bottom: 15px;
}
ul.real-estate li em {
  margin-right: 10px;
  font-style: normal;
}

.real-estate dt {
  padding: 5px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  color: #999c9e;
}

.real-estate dd {
  margin-left: 20px;
  padding: 5px;
}

dl.account {
  height: 135px !important;
}

.ibox-conn {
  padding: 8px 10px;
  border: 1px solid #eee;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.ibox-conn dl {
  height: 180px;
  overflow: hidden;
  margin-bottom: 0px;
}
.ibox-conn dl dt {
  font-weight: normal;
  color: #808080;
}
.ibox-conn dl dd {
  color: #333;
}

.info_box span {
  padding: 3px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #00CFEC;
  display: inline-block;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
